/* ===== Reset ===== */
*{ margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: Arial, sans-serif; }


/* ===== THEME ===== */
.light-theme { background: #ffffff; color: #000000; }
.dark-theme { background: #0f0f0f; color: #ffffff; }


/* ===== Layout ===== */
.app-container { display: flex; min-height: 100vh; transition: 0.3s; }
.content-wrapper { flex: 1; padding: 0px; transition: 0.3s; }


/* ===== Sidebar ===== */
.sidebar {
/* background: rgba(0, 0, 0, 0.9); */
  background: #111827;
color: white;
/* height: 100vh; */
padding: 20px 10px;
transition: width 0.3s;
overflow: hidden;
}
.sidebar-collapsed { width: 60px; }
.sidebar-expanded { width: 180px; }


.sidebar-item {
  text-decoration: none;
display: flex;
align-items: center;
gap: 10px;
padding: 12px 10px;
cursor: pointer;
transition: 0.3s;
}
.sidebar-item:hover {
  background-color: #ff4c4c;
 border-radius: 8px;
   opacity: 0.7; 
  }

.sidebar-item .icon svg {
  color: white;   /* لون الأيقونات */
}


.sidebar-label { font-size: 14px; 
  white-space: nowrap; 
color: #f3f4f6;

 text-decoration: none !important;
  border-bottom: none !important;
}


/* ===== Navbar ===== */
/* .navbar {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 25px;
} */
.theme-btn {
padding: 8px 12px;
border-radius: 50%;
border: none;
cursor: pointer;
}
/* ! */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(1,1,0,0.3);
}

.dark-theme .navbar {
  /* background: rgba(0, 0, 0, 0.9); */
  background: #111827;

  color: #f9fafb;
}

/* مربع البحث */
.navbar-search {
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  width: 30%;
}

.dark-theme .navbar-search {
  background-color: #374151;
}


.search-input {
  margin-left: 0.5rem;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: #111827;
}

.dark-theme .search-input {
  color: #f9fafb;
}

/* الأيقونات */
.navbar-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.notification-btn {
  position: relative;
  padding: 0.5rem;
  border-radius: 9999px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.notification-btn:hover {
  background-color: #b5b6b8;
}

.dark-theme .notification-btn {
  /* background-color: #e6e6e7; */
  color: #f3f4f6;
}

/* نقطة التنبيه */
.notification-dot {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #ef4444;
  border-radius: 50%;
}

/* بيانات المستخدم */
.navbar-user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.user-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: #374151;
}

/* زر تسجيل الدخول */
.login-btn {
  padding: 0.25rem 0.75rem;
  background-color:#ff4c4c;
  color: #ffffff;
  border-radius: 0.375rem;
  cursor: pointer;
  border: none;
  padding: 8px;
}

.login-btn:hover {
  background-color: #912b83;
}


/* ===== Cards & Boxes ===== */
.card1 {
background: white;
padding: 15px;
border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
transition: 0.3s;
margin: 10px 10px 10px 25px;
width: 90%;
text-align: center;

}
.card1:hover{
  transform: scale(1.1);
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 كروت في الصف */
  gap: 10px;
  width: 100%;
}

/* لما الشاشة تصغر – خليهم 2 في الصف */
@media (max-width: 900px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* لما الشاشة تبقى صغيرة جداً – خليهم 1 */
@media (max-width: 600px) {
  .grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card1 h2{
    margin-bottom: 10px;
      font-size: 20px;
      padding-top: 6px;
}
.dark-theme .card1 {
background: #1b1b1b;
color: white;
}

.light-theme .card1 {
  background: white;
  color: #000;
}

.grid-3 {
display: grid;
gap: 20px;
}
@media (min-width: 768px) {
.grid-3 { grid-template-columns: repeat(3, 1fr); }
}


.card-gradient {
height: 130px;
border-radius: 15px;
background: linear-gradient(135deg, orange, purple);
text-align: center;
}
