/* ---------------- Navbar ---------------- */
.navbar {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:90px;
  /* background: linear-gradient(90deg, #51504f, #ff4500); */
   background: linear-gradient(90deg, #302f2f, red);
  display:flex;
  align-items:center;
  justify-content:space-between;

  color:#fff;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.navbar.dark {
  background: #222;
}

.logo {
  font-weight:bold;
  font-size:1.5rem;
  padding: 0 20px;
}

.nav-items {
  display:flex;
  align-items:center;
  gap: 10px;
    padding: 0 20px;
}

.icon-btn {
  background: none;
  border: none;
  font-size:1.2rem;
  cursor: pointer;
  color: inherit;
}

.btn-theme {
  padding: 10px 10px;
  border:none;
  border-radius:6px;
  cursor:pointer;
  background: rgba(255,255,255,0.2);
  color: #fff;
  font-size: 1rem;
}

.btn-logout {
      font-size: 1rem;
  padding: 10px 10px;
  border:none;
  border-radius:6px;
  cursor:pointer;
  background: #ff6347;
  color:#fff;
}

.btn-menu {
  font-size: 1.5rem;
  border:none;
  background:none;
  cursor:pointer;
  color: inherit;
}

/*
/* ---------------- Responsive ---------------- */
@media (max-width: 600px) {
  .nav-items {
    gap: 5px;
  }
  .btn-theme, .btn-logout {
    padding:4px 6px;
    font-size:0.9rem;
  }
}
/* ---------------- Search Box ---------------- */
.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  position: absolute;
  top: 40px; /* تحت الايقونة */
  right: 0;
  width: 200px;
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 0.9rem;
  background: #fff;
  color: #000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  z-index: 1100;
}
