


/* ---------------- Close Button ---------------- */
 .close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 10px;
}



.sidebar ul li {
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid rgba(23, 22, 22, 0.2);
  display: flex;
  align-items: center;
  gap: 10px; 
}

.sidebar ul li:hover {
  background: rgba(255,255,255,0.1);
}

/* .sidebar ul li .icon {
  font-size: 1.2rem;
  width: 25px; 
  display: flex;
  justify-content: center;
  color: #fff;
}  */

/*! Sidebar default (light mode) */
.sidebar {
  width: 250px;
  /* background-color: #fff; */
 /* background: linear-gradient(170deg, #51504f, #ff4500); */
  background: linear-gradient(170deg, #302f2f, red);
  color: #000000;
  position: fixed;
  left: -250px;
  top: 0;
  height: 100%;
  transition: all 0.3s ease;
  z-index: 99;
  padding: 20px;
  margin-top: 5rem;
}

/* Sidebar open */
.sidebar.open {
  left: 0;
}

/* Sidebar dark mode */
body.dark-theme .sidebar {
   background: linear-gradient(170deg, #232222, rgb(237, 234, 234)); /* لون غامق للـ dark mode */
  color: #ffffff;
}

/* Close button */
.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: inherit;
}
